/*
===========================================================

OpenPanel by SONHLAB.com - version 1.2
website: http://sonhlab.com
Documentation: http://docs.sonhlab.com/openpanel-responsive-panel-anywhere/

============================================================
*/


/*========== START GLOBAL ==========*/
#op-station {
	display:block;
}
.op-tabstyle-top {
	top:5px;
	position:relative;
	font-size:1em;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
	display:inline-block;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	cursor:pointer;
	margin-left:1em;
	
}
.op-tabstyle-top:hover {
	box-shadow:0px 0px 6px 3px #fff;
	-webkit-box-shadow:0px 0px 6px 3px #fff;
	-moz-box-shadow:0px 0px 6px 3px #fff;
	-o-box-shadow:0px 0px 6px 3px #fff;
	-ms-box-shadow:0px 0px 6px 3px #fff;
}

.op-blockholder {
	position:absolute;
	right:15px;
	top: 0px;
	margin-bottom: 15px;
}


.op-block2 {
	margin-bottom:8px;
	text-align:center;
	padding: 5px;
}


/* NavBar */
.op-menus {
	margin-bottom:20px;
	padding:0;
	list-style:none;
	overflow:hidden;
	position:relative;
}
.op-menu {
	padding:0px;
	margin:0px;
	position:relative;
	z-index:9998;
	width:100%;
}
.op-menu a {
	padding:10px 20px;	
	display:block;
	position:relative;
	height:48px;
	
}
.op-icons {
	width:32px;
	height:32px;
	padding:8px;
	display:block;
	float:left;
}
.op-menu span {
	display:block;
	float:left;
	width:132px;
	margin-left:10px;
	margin-right:10px;
	font-size:14px;
	line-height:24px;
	font-family:'Dosis',sans-serif;
	color:#fff;
}
.op-menu:hover {
	background: rgba(0,0,0,0.2);/* Modern browser */
}

.op-menublock {
	width:240px;
	float:left;
}
/* End NavBar */


/*========== END GLOBAL ==========*/




/* OPENPANEL - REQUIRED */
.op-panel {
	overflow:hidden;
	position:absolute;
	z-index:9999;
	display:none;
	width: 100% !important;
}

.op-panelbg {
	position:fixed;
	width:100%;
	min-height:100%;
}

.op-panelbt {
	cursor:pointer;
	display:inline-block;
	color: #fff;
}
.op-bt-nav {
	float:left;
	margin:10px;
}
.op-bt-close {
	float:left;
	margin:10px;
}
.op-bt-closeall {
	float:left;
	margin:10px;
}


.op-panelctrl {
	width:100%;
	margin:auto;
	display:block;
	position:relative;
	z-index:9999;
}
.op-panelform {
	width:90%;
	margin:10px auto auto auto;
	position:relative;
	z-index:9998;
	padding: 0 20px;
}

@media screen and (max-width:960px) {
	.op-panelctrl {
		width:100%;
	}
	.op-panelform {
		width:100%;
	}
}

.op-tab {
	cursor:pointer;
}
/* END OPENPANEL */



/* Loading Icon */
#op-loadingholder {
	width:64px;
	height:64px;
	position:fixed;
	top:50%;
	left:50%;
	padding:12px;
	z-index:9999;
	background:#555;
	margin-top:-40px;
	margin-left:-40px;
	border-radius:5px;
	display:none;
}
#op-loadingicon {
	background:url(../images/loading.gif) no-repeat;
	width:64px;
	height:64px;
}
/* End Loading Icon */



/* START jScrollPane - REQUIED */
.jspContainer {
	overflow: hidden;
	position: relative;
	border:0;
}

.jspPane {
	position: absolute;
	width:100% !important;
}

.jspVerticalBar {
	position: absolute;
	z-index:9999;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
}

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 14px;
}

.jspVerticalBar *,
.jspHorizontalBar * {
	margin: 0;
	padding: 0;
}

.jspCap {
	display: none;
}

.jspHorizontalBar .jspCap {
	float: left;
}

.jspTrack {
	position: relative;
}

.jspDrag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background:#000;  /*ScrollBar Color */
	opacity:0.2;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow {
	height: 16px;
}

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus {
	outline: none;
}

.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}
/* END jScrollPane */





/* MISC */
.clearspace { clear: both; }
.floatleft { float:left; }
.floatright { float:right; }
.light-text { color:#fff; }
.dark-text { color:#1e1e1e; }

.responsive-img {
	width:100%;
	margin:auto;
	display:block;
	position:relative;
}
.img-holder {
	width:590px;
	margin:auto;
}

@media screen and (min-width:591px) {
	.img-holder {
		width:590px;
	}
}

@media screen and (max-width:590px) {
	.img-holder {
		width:100%;
	}
}












.solid-black { background:#000; }

