@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */
/*$primary-color: #E74C3C;
$secondary-color: #C74134;
$link-color: #E74C3C;
$link-hover: #2C3E50;
$title-color: #E74C3C;*/
/*$primary-color: #806854;
$secondary-color: #B39C7D;
$link-color: #E74C3C;
$link-hover: #ADA289;
$title-color: #806854;*/
/*$primary-color: #A61C35;
$secondary-color: #6889A6;
$link-color: #6889A6;
$link-hover: #BF5A5A;
$title-color: #A61C35;*/
/*$primary-color: #FF6B06;
$secondary-color: #AF5315;
$link-color: #0EA4AF;
$link-hover: #FB7E28;
$title-color: #FF6B06;*/
/*$primary-color: #4C454D;
$secondary-color: #9A9A9A;
$link-color: #0EA4AF;
$link-hover: #7B95A6;
$title-color: #4C454D;*/
/*
$primary-color: #e5ca80;
$secondary-color: #faeb3f;
$tri-color: #d7ad3a;
$link-color: #392d0c;
$link-hover: #d4a72b;
$title-color: #7f641a;*/
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em;
}

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em) and (max-width:63.938em)/";
  width: 40.063em;
}

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64em)/";
  width: 64em;
}

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: #f7f7f7;
  color: #444444;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

ul.pagination {
  display: block;
  height: 1.5rem;
  margin-left: -0.3125rem;
}
ul.pagination li {
  height: 1.5rem;
  color: #222222;
  font-size: 0.875rem;
  margin-left: 0.3125rem;
}
ul.pagination li a {
  display: block;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: #999999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
ul.pagination li:hover a,
ul.pagination li a:focus {
  background: #e6e6e6;
}
ul.pagination li.unavailable a {
  cursor: default;
  color: #999999;
}
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus {
  background: transparent;
}
ul.pagination li.current a {
  background: #113f90;
  color: white;
  font-weight: bold;
  cursor: default;
}
ul.pagination li.current a:hover, ul.pagination li.current a:focus {
  background: #113f90;
}
ul.pagination li {
  float: left;
  display: block;
}

/* Pagination centred wrapper */
.pagination-centered {
  text-align: center;
}
.pagination-centered ul.pagination li {
  float: none;
  display: inline-block;
}

/* Start to customize Reverie */
.top-bar {
  background: #113f90;
}
.top-bar .top-bar-section ul {
  background: #113f90;
}
.top-bar .top-bar-section ul li a {
  background: #113f90;
}
.top-bar .top-bar-section ul li a:hover {
  background: #ef5323;
}
.top-bar h1 a {
  padding: 0 39px !important;
}
.top-bar h1 a img {
  width: 117px;
}
.top-bar .name h1 a img {
  margin-top: -2.0625rem;
}

a, a:visited, a:hover, a:visited:hover {
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}

figure {
  margin: 0 auto 1.25rem;
}

figure img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

img.alignright {
  float: right;
  margin: 0 0 18px 18px;
}

img.alignleft {
  float: left;
  margin: 0 18px 18px 0;
}

img.aligncenter {
  display: block;
  margin: 18px auto;
}

.gallery dt, .gallery dl {
  display: inline-block;
}
.gallery dl {
  margin-left: 0.5625rem;
  margin-right: 0.5625rem;
}

figure.figure {
  margin: 0 auto;
  display: table;
}
figure.figure figcaption {
  font-size: 0.875rem;
  line-height: 1.4;
  font-style: italic;
  padding: 8px 10px;
  color: #999;
  margin-bottom: 1.25rem;
  display: table-caption;
  caption-side: bottom;
}

figure.alignright.figure {
  float: right;
  margin: 0 0 18px 18px;
}

figure.alignleft.figure {
  float: left;
  margin: 0 18px 18px 0;
}

.footer-widget {
  background-color: #eee;
}

body > header.contain-to-grid {
  margin-bottom: 2.1875rem;
  margin-top: 2.1875rem;
  max-width: 100%;
  padding-bottom: 0;
  background-color: #113f90;
  border-bottom: 4px solid #6dbcdb;
}

article h1 {
  font-size: 30px;
  color: #1059ac;
}
article h2 {
  color: #1059ac;
  font-size: 25px;
}

#content {
  background-color: #fff;
  border: 1px solid #dddddd;
}
#content h2 {
  line-height: 1;
}
#content h2 a {
  color: #1059ac;
  font-size: 30px;
}
#content h2 a:hover {
  color: #ef5323;
}
#content .post-cat-label {
  float: right;
  margin-top: -15px;
  margin-right: -20px;
}
#content .post-cat-label a {
  background: #6dbcdb;
  padding: 3px 5px;
  color: #fff;
  font-size: 15px;
}
#content .readmore a {
  background: #202d44;
  padding: 0.3125rem 0.5rem;
  color: #fff;
}

.cat-title {
  background: #6dbcdb;
  padding: 0.0625rem;
  padding-left: 0.9375rem;
  margin-bottom: 0;
  width: 100%;
}
.cat-title h2 {
  color: #fff;
  font-weight: bold;
}

.index-card {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

span.author,
time {
  font-size: 0.875rem;
  color: #999;
}
span.author a,
time a {
  color: #999;
  font-weight: bold;
}
span.author a:hover, span.author a:focus,
time a:hover,
time a:focus {
  color: #444444;
}

.entry-author {
  background-color: #fbfbfb;
  border: none;
  padding: 3.125rem 5rem;
  margin: 3.125rem -0.9375rem;
}
.entry-author .avatar {
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
}
.entry-author h4 a {
  color: #999;
}
.entry-author h4 a:hover, .entry-author h4 a:focus {
  color: #444444;
}
.entry-author p {
  color: #bbb;
}

.post header,
.page header {
  margin-bottom: 0.625rem;
}

.entry-tags {
  color: #999;
  font-size: 0.9375rem;
}
.entry-tags a {
  color: #999;
}
.entry-tags a:hover, .entry-tags a:focus {
  color: #444444;
}

.page-numbers {
  color: #999;
  display: block;
  height: 1.5rem;
  margin-left: -0.3125rem;
}
.page-numbers li {
  height: 1.5rem;
  color: #222222;
  font-size: 0.875rem;
  margin-left: 0.3125rem;
}
.page-numbers li a {
  display: block;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: #999999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.page-numbers li:hover a,
.page-numbers li a:focus {
  background: #e6e6e6;
}
.page-numbers li.unavailable a {
  cursor: default;
  color: #999999;
}
.page-numbers li.unavailable:hover a, .page-numbers li.unavailable a:focus {
  background: transparent;
}
.page-numbers li.current a {
  background: #113f90;
  color: white;
  font-weight: bold;
  cursor: default;
}
.page-numbers li.current a:hover, .page-numbers li.current a:focus {
  background: #113f90;
}
.page-numbers li {
  float: left;
  display: block;
}

.pagination-centered ul.page-numbers li {
  float: none;
  display: inline-block;
}

.page-numbers li span.current {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.page-numbers li {
  margin-left: 0.125rem;
}

.page-numbers li span:hover a,
.page-numbers li span a:focus {
  background: #e6e6e6;
}
.page-numbers li span.current {
  background: #113f90;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: white;
  font-weight: bold;
  cursor: default;
}

.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
}

ol.commentlist {
  margin-left: 0;
  margin-top: 2em;
}
ol.commentlist p {
  font-size: 0.9375rem;
  line-height: 1.5;
}
ol.commentlist ul.children {
  margin-left: 4rem;
}
ol.commentlist li {
  list-style: none;
  margin-bottom: 2em;
}
ol.commentlist li .comment-author img {
  float: left;
  margin: 0 1em 0 0;
}
ol.commentlist li .author-meta {
  display: inline-block;
}
ol.commentlist li .author-meta cite.fn {
  font-style: normal;
  font-weight: 600;
  margin-right: 0.5rem;
}
ol.commentlist li .author-meta time a {
  color: #ccc;
  font-size: 0.875rem;
  margin-right: 0.5rem;
}
ol.commentlist li .author-meta .comment-edit-link {
  color: #bbb;
  font-size: 0.875rem;
}
ol.commentlist li section.comment {
  margin-left: 4rem;
  margin-bottom: 2rem;
}
ol.commentlist li section.comment a.comment-reply-link {
  font-size: 0.875rem;
  font-weight: 600;
  color: #bbb;
}
ol.commentlist li section.comment a.comment-reply-link:hover, ol.commentlist li section.comment a.comment-reply-link:focus {
  color: #444444;
}

#sidebar {
  margin-top: 0;
  padding-left: 0.3125rem !important;
}

#sidebar.sidebar-right .panel.widget_category_post_list_widget {
  padding-bottom: 15px;
}
#sidebar.sidebar-right .panel.widget_category_post_list_widget img {
  width: 266px !important;
  margin-bottom: 10px;
}
#sidebar.sidebar-right .panel.widget_category_post_list_widget .post-title {
  display: none;
}

#text-2 {
  text-align: center;
}

#sidebar-left .panel, #sidebar .panel, .footer-widget .panel {
  border: none;
  background-color: #fff;
  padding: 0.3125rem 0.3125rem;
  border: 1px solid #dddddd;
  margin-bottom: 0.625rem;
}
#sidebar-left .panel a, #sidebar .panel a, .footer-widget .panel a {
  color: #999;
  font-size: 0.9375rem;
}
#sidebar-left .panel a:hover, #sidebar-left .panel a:focus, #sidebar .panel a:hover, #sidebar .panel a:focus, .footer-widget .panel a:hover, .footer-widget .panel a:focus {
  color: #444444;
}
#sidebar-left .panel h4, #sidebar .panel h4, .footer-widget .panel h4 {
  font-size: 1.125rem;
  padding: 1rem;
  padding-left: 0.625rem;
  border-bottom: 1px solid #eee;
  color: #1059ac;
  font-weight: 600;
}
#sidebar-left ul, #sidebar ul, .footer-widget ul {
  list-style-type: none;
  margin-left: 0;
}
#sidebar-left .widget h4, #sidebar .widget h4, .footer-widget .widget h4 {
  font-size: 1.125rem;
  padding: 1rem;
  padding-left: 0.625rem;
  border-bottom: 1px solid #eee;
  color: #1059ac;
  font-weight: 600;
}
#sidebar-left .widget h2 a, #sidebar .widget h2 a, .footer-widget .widget h2 a {
  color: #6dbcdb;
}
#sidebar-left .widget .news_scroll, #sidebar .widget .news_scroll, .footer-widget .widget .news_scroll {
  width: 100%;
}
#sidebar-left .widget .news_scroll .columns, #sidebar .widget .news_scroll .columns, .footer-widget .widget .news_scroll .columns {
  padding: 0;
}
#sidebar-left .widget .news_scroll .fl, #sidebar .widget .news_scroll .fl, .footer-widget .widget .news_scroll .fl {
  float: left;
  margin-bottom: 15px;
  display: block;
}
#sidebar-left .widget .news_scroll .fl a.post-title, #sidebar .widget .news_scroll .fl a.post-title, .footer-widget .widget .news_scroll .fl a.post-title {
  color: #1059ac;
  margin-top: 5px;
  float: left;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}
#sidebar-left .widget .news_scroll .fl .post_thumbnail, #sidebar .widget .news_scroll .fl .post_thumbnail, .footer-widget .widget .news_scroll .fl .post_thumbnail {
  float: left;
  margin-right: 0.3125rem;
}

#page-nav {
  right: 10px;
  text-align: right;
  display: block;
}
#page-nav a, #page-nav span {
  background: #113f90;
  color: #fff;
  padding: 2px 7px;
  font-size: 13px;
  border-radius: 3px;
}
#page-nav a:hover {
  background: #6dbcdb;
}
#page-nav span {
  background: #6dbcdb;
}

#sidebar-left {
  padding-left: 0;
  padding-right: 0;
}
#sidebar-left .panel {
  padding: 0;
}
#sidebar-left .row {
  margin: 0;
  margin-bottom: 10px;
}
#sidebar-left .row p {
  font-size: 14px;
}
#sidebar-left .row .author_name a {
  font-size: 22px;
}
#sidebar-left .row .author_name .columns {
  padding: 0;
  padding-top: 10px;
}

.tags ul li {
  display: block;
}
.tags ul li a {
  color: #3b444f !important;
  border-bottom: 1px solid #e6edf5;
  padding: 5px 0;
  padding-left: 12px;
  display: block;
}
.tags ul li a:hover {
  background: #6dbcdb !important;
  color: #fff !important;
}

.yarpp-related {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
.yarpp-related h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.yarpp-related-widget ol {
  list-style: none;
  margin: 0;
}
.yarpp-related-widget ol li {
  display: block;
}
.yarpp-related-widget ol li a {
  color: #3b444f !important;
  border-bottom: 1px solid #e6edf5;
  padding: 5px 0;
  padding-left: 12px;
  display: block;
}
.yarpp-related-widget ol li a:hover {
  background: #6dbcdb !important;
  color: #fff !important;
}

.yarpp-thumbnails-horizontal .yarpp-thumbnail {
  height: 180px !important;
  width: 23%;
  float: left;
  margin-right: 2%;
}
.yarpp-thumbnails-horizontal .yarpp-thumbnail .yarpp-thumbnail-title {
  display: block;
  margin-top: 8px;
  width: 94%;
}

.widget_yarpp_widget {
  float: left;
  width: 100%;
}

.yarpp-thumbnail-sidebar {
  display: block;
  padding: 7px 0;
  padding-left: 12px;
  color: #3b444f !important;
  border-bottom: 1px solid #e6edf5;
  width: 100%;
  float: left;
}
.yarpp-thumbnail-sidebar:hover {
  background: #6dbcdb !important;
  color: #fff !important;
}
.yarpp-thumbnail-sidebar img {
  width: 30%;
  height: 30px;
  float: left;
}
.yarpp-thumbnail-sidebar .yarpp-thumbnail-title {
  float: left;
  width: 62%;
  margin-left: 2%;
}

.fbcomments {
  float: left;
  width: 100%;
}
.fbcomments h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.fb_iframe_widget {
  width: 100%;
}
.fb_iframe_widget span {
  width: 100% !important;
}
.fb_iframe_widget iframe {
  width: 100% !important;
}

.pluginSkinLight div {
  width: 100% !important;
}

.entry-content h2 {
  color: #202d44;
  border-bottom: 1px dotted #dddddd;
  padding-bottom: 8px;
}

.search {
  float: right;
}

.search-results, .search-no-results {
  max-width: none !important;
  float: none;
}

.solid-orange-2 {
  background: #ef5323;
  color: #fff;
}

.solid-grey {
  background: #555;
}

.op-panelform h2 {
  color: #fff;
}

.top-bar-section > ul > .divider {
  border-right: 1px solid #202d44;
}

.top-bar.expanded .title-area {
  background: #202d44;
}

.addthis_button_tweet iframe {
  width: 75px !important;
}

.addthis_button_pinterest_pinit iframe {
  width: 44px !important;
}

footer.full-width {
  background-color: #113f90;
  color: #fff;
}
footer.full-width p {
  font-size: 0.75rem;
  margin-bottom: 0.625rem;
}
footer.full-width a {
  color: #fff;
  font-size: 0.75rem;
}
footer.full-width a:hover, footer.full-width a:focus {
  color: #ef5323;
}
footer.full-width .love-reverie {
  font-size: 0.625rem;
  padding-top: 0.625rem;
}

.logo {
  position: absolute;
  margin-top: -33px;
  z-index: 10000;
  padding-left: 20px;
}

.logo img {
  width: 118px;
}

.avatar {
  width: 100%;
  padding: 0 20px;
}

.author_name {
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.video-categories {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.video-categories .entry-title {
  font-size: 30px;
  color: #113f90;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#wpstats {
  display: none;
}

.addthis {
  padding: 20px 0;
}

.b-1 {
  max-width: 100% !important;
}

.a-1 {
  float: left;
}

.desc {
  font-size: 13px;
  font-weight: 16px;
  padding: 0.5rem;
}

@media only screen {
  #content {
    padding-top: 1.25rem;
  }

  .entry-author .avatar {
    margin-bottom: 1.25rem;
  }

  #sidebar-left .news_scroll .fl {
    min-height: 158px;
  }
  #sidebar-left .news_scroll .fl img {
    width: 100%;
  }

  #yarpp_widget-2 {
    display: none;
  }

  .search {
    width: 100%;
  }

  .top-bar .name h1 img {
    display: none;
  }
}
._s0 {
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 40.063em) {
  #content {
    padding: 1.25rem;
  }

  .entry-author {
    margin: 3.125rem -1.25rem;
  }

  .search {
    max-width: 11.25rem;
  }

  #sidebar-left {
    padding-right: 0.3125rem;
  }

  .news_scroll .fl {
    min-height: 37% !important;
  }
}
@media only screen and (min-width: 64em) {
  #sidebar {
    padding-left: 1.875rem;
    padding-right: 0;
    margin-top: 0;
  }

  .footer-widget {
    margin-top: 3rem;
  }

  #yarpp_widget-2 {
    display: block;
  }

  .top-bar .name h1 img {
    display: block;
  }

  .logo {
    display: none;
  }
}
@media only screen and (max-width: 40em) {
  .dropdown {
    margin-top: 40px !important;
  }

  .article-categories {
    padding: 0;
  }
  .article-categories #content {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .a-1 {
    width: 49% !important;
  }

  .sb-search.sb-search-open {
    width: 60%;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 63.938em) {
  .dropdown {
    margin-top: 40px !important;
  }

  .a-1 {
    width: 33% !important;
  }
}
