/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

// import normalize, stay at top
// @import "normalize";

// Global Foundation Settings
@import "settings";

// Tweak the mixin for WordPress, this might create some extra CSS in additional to app.css
@import "foundation/components/pagination";

// Reverie comes with a standalone Foundation stylesheet already
// @import "foundation";

// Load some Compass magic, note you will need to install Compass first
@import "compass/css3/shared";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

/* Start to customize Reverie */

.top-bar {background: $primary-color;
	.top-bar-section {
		ul {background: $primary-color;
			li {
				a {background: $primary-color;}
				a:hover {background: $link-hover;}
			}
		}
	}

	h1 {
		a {
			padding: 0 39px !important;
			img {
				width: 117px;
			}
		}
	}
	.name {
		h1 {
			a {
				img {
					margin-top: rem-calc(-33);
				}
			}
		}
	}
}

// add transition effect
a, a:visited, a:hover, a:visited:hover {
	@include transition(all 100ms linear);
}

// add some margin for embeds in post
figure {
	margin: 0 auto $panel-margin-bottom;
}

// Add class for images
figure img {
	@include border-radius(5px);
}

img.alignright {
	float: right;
	margin: 0 0 18px 18px;
}
	
img.alignleft {
	float: left;
	margin: 0 18px 18px 0;
}

img.aligncenter {
	display: block;
	margin: 18px auto;
	}

// Fix gallery images display
.gallery {
	dt, dl {
		display: inline-block;
	}
	dl {
		margin-left: rem-calc(9);
		margin-right: rem-calc(9);
	}
}

// Add HTML5 Caption Class for Images
figure.figure {
	margin: 0 auto;
	display: table;
	figcaption {
		font-size: rem-calc(14);
		line-height: 1.4;
		font-style: italic;
		padding: 8px 10px;
		color: #999;
		margin-bottom: $panel-margin-bottom;
		display: table-caption;
		caption-side: bottom;
	}
}

figure.alignright.figure {
	float: right;
	margin: 0 0 18px 18px;
}

figure.alignleft.figure {
	float: left;
	margin: 0 18px 18px 0;
}

.footer-widget {
	background-color: #eee;
}

body > header.contain-to-grid {
	margin-bottom: rem-calc(35);
	margin-top: rem-calc(35);
	max-width: 100%;
	padding-bottom: 0;
	background-color: $primary-color;
	border-bottom: 4px solid $secondary-color;
}

article {
	h1 {
		font-size: 30px;
		color: $title-color;
	}

	h2 {
		color: $title-color;
		font-size: 25px;
	}
}


#content {
	background-color: #fff;
	border: 1px solid $border-color;

	h2 {
		
		a {color: $title-color;
			font-size: 30px;
		}
		a:hover {color: $link-hover;}
		line-height: 1;
	}

	.post-cat-label {

		float: right;
		margin-top: -15px;
		margin-right: -20px;

		a {
			background: $secondary-color;
			padding: 3px 5px;
			color: #fff;
			font-size: 15px;
		}
	}

	.readmore {
		a {
			background: $tri-color;
			padding: rem-calc(5) rem-calc(8);
			color: #fff;
		}
	}
	
}
.cat-title {
		background: $secondary-color;
		padding: rem-calc(1);		
		padding-left: rem-calc(15);
		margin-bottom: rem-calc(0);
		width: 100%;
		h2 {
			color: #fff;
			font-weight: bold;
		}
	}



.index-card {
	border-bottom: 1px solid #ddd;
	padding-bottom: rem-calc(32);
	margin-bottom: rem-calc(32);
}

span.author,
time {
	font-size: rem-calc(14);
	color: #999;
	a {
		color: #999;
		font-weight: bold;
		&:hover, &:focus {
			color: $body-font-color;
		}
	}
}

// define content padding for later use
$content-padding: rem-calc(20);

.entry-author {
	background-color: #fbfbfb;
	border: none;
	padding: rem-calc(50) rem-calc(80);
	margin: rem-calc(50) (-($column-gutter/2));
	.avatar {
		margin-right: rem-calc(40);
		margin-bottom: rem-calc(24);
	}
	h4 {
		a {
			color: #999;
			&:hover, &:focus {
				color: $body-font-color;
			}
		}
	}
	p {
		color: #bbb;
	}
}

.post header,
.page header {
	margin-bottom: rem-calc(10);
}

.entry-tags {
	color: #999;
	font-size: rem-calc(15);
	a {
		color: #999;
		&:hover, &:focus {
			color: $body-font-color;
		}
	}
}


// add new pagination class for WordPress, Sass is amazingly fast
.page-numbers {
	color: #999;
	@include pagination;
}

.pagination-centered ul.page-numbers li {
  float: none;
  display: inline-block;
}

.page-numbers li span.current {
  @include border-radius(3px);
}

.page-numbers li {
  margin-left: rem-calc(2);
}

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
	span:hover a,
	span a:focus {
		background: $pagination-link-active-bg;
	}
	span.current {
		background: $pagination-link-current-background;
		padding: $pagination-link-pad;
		color: $pagination-link-current-font-color;
		font-weight: $pagination-link-current-font-weight;
		cursor: $pagination-link-current-cursor;
	}
}

.avatar {
	@include border-radius(50%);
	float: left;
}

// add some basic comment styles
ol.commentlist {
	margin-left: 0;
	margin-top: 2em;
	p {
		font-size: rem-calc(15);
		line-height: 1.5;
	}
	ul.children {
		margin-left: rem-calc(64);
	}
	li {
		list-style: none;
		margin-bottom: 2em;
	
		.comment-author img {
			float: left;
			margin: 0 1em 0 0;
		}
		.author-meta {
			display: inline-block;
			cite.fn {
				font-style: normal;
				font-weight: 600;
				margin-right: rem-calc(8);
			}
			time a {
				color: #ccc;
				font-size: rem-calc(14);
				margin-right: rem-calc(8);
			}
			.comment-edit-link {
				color: #bbb;
				font-size: rem-calc(14);
			}
		}
		section.comment {
			margin-left: rem-calc(64);
			margin-bottom: rem-calc(32);
			a.comment-reply-link {
				font-size: rem-calc(14);
				font-weight: 600;
				color: #bbb;
				&:hover, &:focus {
					color: $body-font-color;
				}
			}
		}
	}
}

.search {
//	display: none;
}

// Start the sidebar
#sidebar {
	margin-top: rem-calc(0);
	padding-left: rem-calc(5) !important;
}

#sidebar.sidebar-right {
	.panel.widget_category_post_list_widget {
		padding-bottom: 15px;
		img {width: 266px !important;
			margin-bottom: 10px;
		}
		.post-title {
			display: none;
		}
	}
}

#text-2 {
	text-align: center;
}

#sidebar-left, #sidebar, .footer-widget {
	.panel {
		border: none;
		background-color: #fff;
		padding: rem-calc(5) rem-calc(5);
		border: 1px solid $border-color;
		margin-bottom: rem-calc(10);
		a {
			color: #999;
			font-size: rem-calc(15);
			&:hover, &:focus {
				color: $body-font-color;
			}
		}

		h4 {

			font-size: rem-calc(18);
			padding: rem-calc(16);
			padding-left: rem-calc(10);
			border-bottom: 1px solid #eee;
			color: $title-color;
			font-weight: 600;
		}

	}
	ul {
		list-style-type: none;
		margin-left: 0;
	}
	.widget {
		h4 {

			font-size: rem-calc(18);
			padding: rem-calc(16);
			padding-left: rem-calc(10);
			border-bottom: 1px solid #eee;
			color: $title-color;
			font-weight: 600;
		}

		

		h2 {
			a {color: $secondary-color;
			   
			}
		}

		.news_scroll {
			width: 100%;
			.columns {
				padding: rem-calc(0);
			}
			.fl {
				float: left;
				margin-bottom: 15px;
				display: block;

				a.post-title {color: $title-color; margin-top: 5px;
					float: left; 
					margin-bottom: 10px;
					display: block;
					width: 100%;
				}
				.post_thumbnail {float: left; margin-right: rem-calc(5);
					img {}
				}
			}

		}

	}
}


#page-nav {
	right: 10px;
	text-align: right;
	display: block;
	a, span {
		background: $primary-color;
		color: #fff;
		padding: 2px 7px;
		font-size: 13px;
		border-radius: 3px;
	}
	a:hover {
		background: $secondary-color;
	}
	span {
		background: $secondary-color;
	}
}

#sidebar-left {
	padding-left: 0;
	padding-right: 0;
	.panel {padding: 0;}

	.row {margin:0;
		p {font-size: 14px;}
		margin-bottom: 10px;

		.author_name {
			a{
			font-size: 22px;

		}
		.columns {padding: 0;padding-top: 10px;}
		}
	}

}

.tags {	
	ul {
		li {
			display: block;			
			a {
				color: $link-color !important;
				border-bottom: 1px solid #e6edf5;
				padding: 5px 0;
				padding-left: 12px;
				display: block;
			}
			a:hover {
				background: $secondary-color !important;
				color: #fff !important;
			}
		}
	}
}
//YARPP

.yarpp-related {
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	padding-bottom: 15px;
	margin-bottom: 15px;
	h3 {
		font-size: 22px;
		margin-bottom: 5px;
	}
}
.yarpp-related-widget {
	ol {
		list-style: none;
		margin: 0;
		li {
			display: block;			
			a {
				color: $link-color !important;
				border-bottom: 1px solid #e6edf5;
				padding: 5px 0;
				padding-left: 12px;
				display: block;
			}
			a:hover {background: $secondary-color !important;
				color: #fff !important;}
		}
	}
}
.yarpp-thumbnails-horizontal .yarpp-thumbnail {
	height: 180px !important;
}

.widget_yarpp_widget {
	float: left;
	width: 100%;
}

.yarpp-thumbnail-sidebar {
	display: block;
	padding: 7px 0;
	padding-left: 12px;
	color: $link-color !important;
	border-bottom: 1px solid #e6edf5;
	width: 100%;
	float: left;
	&:hover {
		background: $secondary-color !important;
		color: #fff !important;
	}

	img {
		width: 30%;
		height: 30px;
		
		float: left;
	
	}
	.yarpp-thumbnail-title {
		
		float: left;
		width: 62%;
		margin-left: 2%;
	}
}

.fbcomments {
	h3 {
		font-size: 22px;
		margin-bottom: 5px;
	}
}

.entry-content {
	h2 {
		color: $tri-color;
		border-bottom: 1px dotted $border-color;
		padding-bottom: 8px;
	}
}

//search
.search {float: right;}
.search-results, .search-no-results {max-width: none !important; float: none;}

.solid-orange-2 { background:$link-hover; color: #fff; }
.solid-grey {background: #555;}
.op-panelform {
	h2 {
		color: #fff;
	}
}

.top-bar-section > ul > .divider{
	border-right: 1px solid $tri-color;
}

.top-bar.expanded .title-area {
	background: $tri-color;
}


//force css on add this

.addthis_button_tweet {
	iframe {
		width: 75px !important;
	}
}
.addthis_button_pinterest_pinit {
	iframe {
		width: 44px !important;
	}
}




// Start the footer
footer.full-width {
	background-color: $primary-color;
	color: #fff;
	p {
		font-size: rem-calc(12);
		margin-bottom: rem-calc(10)
	}
	a {
		color: #fff;
		font-size: rem-calc(12);
		&:hover, &:focus {
			color: $link-hover;
		}
	}
	.love-reverie {
		font-size: rem-calc(10);
		padding-top: rem-calc(10);
	}
}


.logo {
	position: absolute;
	margin-top: -33px;

	z-index: 10000;
	padding-left: 20px;
}

.logo img {
	width: 118px;

}

.avatar {
	width: 100%;
	padding: 0 20px;
}

.author_name {

	width: 100%;
	padding: 0 20px;
	text-align: center;
}

.video-categories {
	border-bottom: 1px solid #ddd;
padding-bottom: 2rem;
margin-bottom: 2rem;
	.entry-title {
		font-size: 30px;
		color: $primary-color;
	}
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.addthis {
	padding: 20px 0;
}


.b-1 {
	max-width: 100% !important;
}

.a-1 {
	float: left;
}

@media #{$small-up} {
	#content {
		padding-top: $content-padding;

	}
	.entry-author {
		.avatar {
			margin-bottom: rem-calc(20);

		}
	}
	#sidebar-left {
		//padding-right: 0;
		.news_scroll {
			.fl {
				min-height: 158px;
				img {
					width: 100%;
				}
			}
		}
	}
	#yarpp_widget-2 {
		display: none;
	}
	.search {width: 100%;}
	.top-bar {
		.name {
			h1 {
				img {
					display: none;
				}
			}
		}
	}

}

._s0 {
	width:50px;
	height: 50px;
}

@media #{$medium-up} {
	#content {
		padding: $content-padding;
	}
	.entry-author {
		margin: rem-calc(50) (-$content-padding);
	}
	.search {max-width: rem-calc(180); 
	}
	#sidebar-left {
		padding-right: rem-calc(5);
	}
	.news_scroll {
			.fl {
				min-height: 37% !important;
			}
		}

}

@media #{$large-up} {
	#sidebar {
		padding-left: $column-gutter;
		padding-right: 0;
		margin-top: rem-calc(0);
	}
	
	.footer-widget {
		margin-top: rem-calc(48);
		
	}
	#yarpp_widget-2 {
		display: block;
	}
	.top-bar {
		.title-area {
			//margin-left: 190px;
		}
	}
	.top-bar {
		.name {
			h1 {
				img {
					display: block;
				}
			}
		}
	}
	.logo {display: none;}
}

@media #{$small-only} {  
	.top-bar {
		h1 {
			a {
				img {
					//width: 300px;
					//border: 1px solid;
				}
			}
		}
	}
	.dropdown {
		margin-top: 40px !important;
	}

	.article-categories {
		padding: 0;
		#content {
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);
		}
	}
	.a-1 {
		width: 49% !important;
	}
}
@media #{$medium-only} { 
	.dropdown {
		margin-top: 40px !important;
	}
	.a-1 {
		width: 33% !important;
	}
}